img.logo {
    margin: 15px 35%;
}
p.texto-intro {
    padding: 5px 15px;
    text-align: center;
    color: #4b0ab3;
    font-size: 18px;
    margin: 0;
}
ion-card img {
    margin: 0 30%;
    width: 40%;
}
ion-card {
    padding: 10px;
    width: 50%;
    margin: 30px 25%;
}
ion-card-title {
    text-align: center;
}