<ion-tabs >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scanner">
      <ion-icon name="scan-outline"></ion-icon>
      <ion-label>Scanner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="equipos">
      <ion-icon name="pulse-outline"></ion-icon> 
      <ion-label>Equipos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alerta">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Alerta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
