<ion-app>
  <ion-menu side="end" menuId="first" *ngIf="_user.user.rut_persona">

    <ion-header>
      <ion-toolbar>
        <ion-title>Configuración</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <ion-item (click)="closeMenu()" routerLink="/perfil">Mi Perfil</ion-item>
        <ion-item (click)="closeMenu()" routerLink="/bienvenida">Cambiar Empresa</ion-item>
        <ion-item (click)="logout()" routerLink="/login">Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
